body{
	background-color: #eee; /* Grey background color */
	font-family: Lato;
	padding-top:20px;
	font-size:20px;
}
.vertical-menu {
  width: 16%; /* Set a width if you like */
  position:fixed;
  top: 90px;
}

.vertical-menu a {
  background-color: white;
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  text-align: center;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
.vertical-menu a{
	border-top:lightgrey solid 1px;
}
#content{
  background-color: white;
  top: 10px;
  width: 78%;
  float: right;
  right: 16px;
}
.container{
	width: 90%;
}
.name_bar{
  background: #4CAF50;
  color: #f1f1f1;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: auto;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
